<div class="resource exp">
    <label for="system.exp" class="resource-label">{{localize 'ROGUE.Experience'}}:</label>
    <input type="number" name="system.exp" value="{{system.exp}}" data-dtype="Number"/>
</div>
