<div class="notes-block">
  <h2>{{localize 'ROGUE.Notes'}}</h2>
  {{editor enrichedNotes target="system.notes" button=true owner=owner editable=editable}}
</div>
<div class="biography">
  <h2>{{localize 'ROGUE.Description'}}</h2>
  {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
</div>
