.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.roll-template {
  .difficulty-block {
    #opposition {
      position: relative;
      top: 5px;
    }

    .difficulty-content {
      display: none;
    }

    #opposition:checked + .difficulty-content {
      display: block;
    }
  }
}

.roll-template>div {
  margin: 5px;
}
