<div class="resource">
  <label for="system.slots" class="resource-label">{{localize 'ROGUE.Slots'}}:</label>
  <input type="number" name="system.slots" value="{{system.slots}}" data-dtype="Number"/>
</div>
<div class="resource">
  <label for="system.price" class="resource-label">{{localize 'ROGUE.Price'}}:</label>
  <input class="long-n-input" type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
</div>
