.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: $padding-md;

  .img-block {
    flex: 1;
    min-width: 150px;
    padding-right: 10px;

    .profile-img {
      height: 100%;
      width: 100%;
    }

    .hp-bar {
      position: relative;
      top: -10px;
      height: 20px;
      overflow-y: visible;

      progress {
        width: 100%;
      }

      .hp-input {
        display: flex;
        justify-content: center;
        position: relative;
        top: -10px;
        * {
          text-align: center;
        }
        span {
          position: absolute;
          top: 5px;
        }
      }
    }
  }

  .header-fields {
    position: relative;
    flex: 4;

    h1.charname {
      height: 50px;
      padding: 0px;
      margin: 5px 0;
      font-family: $font-secondary;
      font-weight: 700;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
        text-decoration-line: underline;
      }
    }

    .level {
      position: absolute;
      top: 0;
      right: 10px;
      width: 57px;
      height: 57px;
      padding-top: 10px;
      border: 2px solid #000;
      border-radius: 100%;
      text-align: center;

      * {
        display: block;
        margin: auto;
      }
    }
    .abilities {
      margin-top: 10px;
      gap: 10px;

      .resource {
        span.plus {
          position: relative;
          top: 1px;
          left: 12px;
        }
      }
    }
  }
}

.after-header {
  max-height: 55px;

  .defense {
    flex: 1;

    .resource {
      span.plus {
        position: relative;
        top: 1px;
        left: 12px;
      }
    }
  }

  .movement {
    position: relative;
    flex: 4;

    label.block-label {
      position: absolute;
      display: block;
      width: 100%;
      top: -15px;
      text-align: center;
      font-size: x-small;
      text-transform: uppercase;
    }

    .resource {
      .resource-label {
        font-size: small;
      }

      i.far {
        position: absolute;
        bottom: 12px;
      }
    }
  }
}

nav.sheet-tabs {
  flex: 0;
  border-top-width: 2px;
  border-bottom: none;

  a.item {
    background-color: rgba(165, 154, 132, 0.3);
    text-shadow: none;
  }

  a.item.active {
    background: none;
    text-shadow: none;
  }
}

.sheet-body {
  .tab.general {
    .inventory {
      .create-item {
        position: absolute;
        top: 0;
        right: 0;

        button.drop-btn {
          border: none;
          background: none;
          box-shadow: none;
        }

        .drop-content {
          display: none;
          position: absolute;
          right: 0;
          z-index: 1;
          width: max-content;

          a.item-add {
            display: block;
            position: static;
            padding: 2px;
          }
        }
      }

      .create-item:hover {
        .drop-btn {
          text-shadow: 0 0 8px red;
        }

        .drop-content {
          display: block;
          background: url(../ui/parchment.jpg) repeat;
        }
      }
    }
  }

  .grid {
    gap: 10px;
  }

  .item-block {
    .block-header {
      position: relative;

      a.item-add {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
      }
    }
  }

  .editor {
    min-height: 75px;
    height: calc(100% - 28px);
    padding: 0 $padding-sm;
    border: $border;
  }
}

button.check {
  height: 30px;
  margin: 0;
  border-style: solid;
  border-color: #777;
  border-width: 1px;
  text-shadow: none;
  font-family: $font-primary;
  font-weight: bold;
}

button.check:focus {
  outline: none;
}

.tox {
  .tox-editor-container {
    background: #fff;
  }

  .tox-edit-area {
    padding: 0 $padding-sm;
  }
}
