.resources {
  margin-bottom: 5px;
  align-items: baseline;

  .resource {
    flex: auto;
    align-items: baseline;
    *{
      flex: auto;
    }
  }
}

.resource {
  .resource-label {
    font-weight: bold;
  }
  .resource-content{
    display: inline;
  }
  input {
    display: inline;
  }
}

.attributes {
  .resource {
    padding-top: 5px;
    text-align: center;
    font-size: medium;

    .resource-label {
      display: block;
      margin: auto;
      text-transform: uppercase;
    }

    span.plus {
      position: relative;
      top: 1px;
      left: 12px;
    }
  }
}
